#blender
*.blend1
*.blend2

# Operációs rendszer szemétfájlok (ha a csapatból valaki Mac-et vagy Windows-t használ)
.DS_Store
Thumbs.db

# ROS és Gazebo log/ideiglenes fájlok
log/
build/
install/
#referencia képek
references/
#blender mentések
gazeboo 3D model/
Blender_files/

