<?xml version="1.0"?>
<model>
  <name>testroom</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>horvathbd</name>
    <email>horvathbd@gmail.com</email>
  </author>

  <description>
    Prototípus textúrás tesztpálya a tank célzórendszeréhez.
  </description>
</model>
